{% extends 'base.html' %}
{% block content %}
  <style>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: cursive;
  color: #50555a;
  background-color: #46a1de;
}

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.bg-color {
  background-color: #46a1de;
  transition-duration: 0.5s;
}

.text-color {
  color: #46a1de;
  transition-duration: 0.5s;
}

footer {
  padding: 40px 0;
  text-align: center;
  opacity: 0.33;
  color: white;
}

.wrapper {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.tabs > li {
  transition-duration: 0.25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: 0.25s;
  border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: 0.5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: white;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}
.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.colors {
  text-align: center;
  padding-top: 20px;
}
.colors > li {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.colors > li:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 10px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.colors > li.active-color {
  -webkit-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 20px solid rgba(0, 0, 0, 0.15);
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
}
table td, table th {
  border-top: 1px solid #ECF0F1;
  padding: 10px;
}
table td {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}
table th {
  background-color: #4ECDC4;
}
table tr:nth-of-type(even) td {
  background-color: #d9f4f2;
}
table .total th {
  background-color: white;
}
table .total td {
  text-align: right;
  font-weight: 700;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }

  table tr td:not(:first-child), table tr th:not(:first-child), table tr td:not(.total-val) {
    display: none;
  }
  table tr:nth-of-type(even) td:first-child {
    background-color: #d9f4f2;
  }
  table tr:nth-of-type(odd) td:first-child {
    background-color: white;
  }
  table tr:nth-of-type(even) td:not(:first-child) {
    background-color: white;
  }
  table tr th:first-child {
    width: 100%;
    display: block;
  }
  table tr th:not(:first-child) {
    width: 40%;
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    position: relative;
    z-index: -1;
  }
  table tr td:not(:first-child) {
    transition: transform 0.4s ease-out;
    transform: translateY(-9999px);
    width: 60%;
    position: relative;
    z-index: -1;
  }
  table tr td:first-child {
    display: block;
    cursor: pointer;
  }
  table tr.total th {
    width: 25%;
    display: inline-block;
  }
  table tr td.total-val {
    display: inline-block;
    transform: translateY(0);
    width: 75%;
  }
}
@media only screen and (max-width: 300px) {
  table tr th:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
  table tr td:not(:first-child) {
    width: 50%;
    font-size: 14px;
  }
}
ul{
  margin-bottom: 0px;
}
</style>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>

  <nav class="navbar">
    <div class="container">
  
      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#">
          <h4>Awesome<span>logo</span></h4>
        </a>
      </div>
  
      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="#">Profile</a></li>
          <li class="navbar-dropdown active">
            <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
              Customer <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown" id="my-dropdown-id">
              <li><a href="{% url 'loginCustomer' %}">Login a customer</a></li>
              <li><a href="{% url 'registerCustomer' %}">Register a customer</a></li>
              <li><a href="{% url 'customer' %}">View</a></li>
            </ul>
          </li>
          <li><a href="{% url 'billing' %}">Billing</a></li>
          <li><a href="{% url 'login' %}">LogOut</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>
  <section class="wrapper">
    <ul class="tabs">
      <li class="active">Schedule 1</li>
      <li>Schedule 2</li>
      <li>Schedule 3</li>
    </ul>
  
    <ul class="tab__content">
      <li class="active">
        <div class="content__wrapper">
            <table>
              <thead>
              <tr class="table-headers">
                <th>Name of Medicine</th>
                <th>Locality of Doctor</th>
                <th>Doctor name</th>
                <th>Hospital Name</th>
                <th>TimeStamp</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PlayCo Group Universal Flex</td>
                  <th class="mobile-header">Number</th><td>2489</td>
                  <th class="mobile-header">Market rate</th><td>€12.35</td>
                  <th class="mobile-header">Weight</th><td>5%</td>
                  <th class="mobile-header">Value</th><td>€1,536.96</td>
                </tr>
                <tr>
                  <td>House of Dedgeny EUR Flex</td>
                  <th class="mobile-header">Number</th><td>5478</td>
                  <th class="mobile-header">Market rate</th><td>€42.68	</td>
                  <th class="mobile-header">Weight</th><td>2%</td>
                  <th class="mobile-header">Value</th><td>€4,676.02</td>
                </tr>
                <tr>
                  <td>PlayCo Group Local</td>
                  <th class="mobile-header">Number</th><td>123</td>
                  <th class="mobile-header">Market rate</th><td>€147.36</td>
                  <th class="mobile-header">Weight</th><td>3%</td>
                  <th class="mobile-header">Value</th><td>€543.76</td>
                </tr>
                <tr>
                  <td>PlayCo Group Low</td>
                  <th class="mobile-header">Number</th><td>5477</td>
                  <th class="mobile-header">Market rate</th><td>€147.00</td>
                  <th class="mobile-header">Weight</th><td>10%</td>
                  <th class="mobile-header">Value</th><td>€80,511.90</td>
                </tr>
                <tr>
                  <td>House of Dedgeny High</td>
                  <th class="mobile-header">Number</th><td>5899</td>
                  <th class="mobile-header">Market rate</th><td>€ 288.00</td>
                  <th class="mobile-header">Weight</th><td>4%</td>
                  <th class="mobile-header">Value</th><td>€67,956.48</td>
                </tr>
                <tr>
                  <td>House of Dedgeny USD Med</td>
                  <th class="mobile-header">Number</th><td>11477</td>
                  <th class="mobile-header">Market rate</th><td>€18.00</td>
                  <th class="mobile-header">Weight</th><td>5%</td>
                  <th class="mobile-header">Value</th><td>€10,329.30</td>
                </tr>
                <tr>
                  <td>Sterck Inc. Med</td>
                  <th class="mobile-header">Number</th><td>1476</td>
                  <th class="mobile-header">Market rate</th><td>€187.00</td>
                  <th class="mobile-header">Weight</th><td>10%</td>
                  <th class="mobile-header">Value</th><td>€27,601.20</td>
                </tr>
                <tr>
                  <td>PlayCo Group Universal High</td>
                  <th class="mobile-header">Number</th><td>6547</td>
                  <th class="mobile-header">Market rate</th><td>€782.00</td>
                  <th class="mobile-header">Weight</th><td>12%</td>
                  <th class="mobile-header">Value</th><td>€614,370.48</td>
                </tr>
                <tr>
                  <td>PlayCo Group Universal Low</td>
                  <th class="mobile-header">Number</th><td>1476</td>
                  <th class="mobile-header">Market rate</th><td>€187.00</td>
                  <th class="mobile-header">Weight</th><td>10%</td>
                  <th class="mobile-header">Value</th><td>€27,601.20</td>
                </tr>
                <tr>
                  <td>PlayCo Group Universal High</td>
                  <th class="mobile-header">Number</th><td>1471</td>
                  <th class="mobile-header">Market rate</th><td>€148.00</td>
                  <th class="mobile-header">Weight</th><td>18%</td>
                  <th class="mobile-header">Value</th><td>€39,187.44</td>
                </tr>
                <tr>
                  <td>Sterck Inc. Low</td>
                  <th class="mobile-header">Number</th><td>1978</td>
                  <th class="mobile-header">Market rate</th><td>€68.23</td>
                  <th class="mobile-header">Weight</th><td>11%</td>
                  <th class="mobile-header">Value</th><td>€14,845.48</td>
                </tr>
                <tr>
                  <td>Sterck Inc. Universal High</td>
                  <th class="mobile-header">Number</th><td>6512</td>
                  <th class="mobile-header">Market rate</th><td>€642.02</td>
                  <th class="mobile-header">Weight</th><td>5%</td>
                  <th class="mobile-header">Value</th><td>€209,041.71</td>
                </tr>
                <tr>
                  <td>Sterck Inc. Flex</td>
                  <th class="mobile-header">Number</th><td>5423</td>
                  <th class="mobile-header">Market rate</th><td>€78.96</td>
                  <th class="mobile-header">Weight</th><td>7%</td>
                  <th class="mobile-header">Value</th><td>€29,974.01</td>
                </tr>
                <tr>
                  <td>PlayCo Group Universal Med</td>
                  <th class="mobile-header">Number</th><td>7812</td>
                  <th class="mobile-header">Market rate</th><td>€54.86</td>
                  <th class="mobile-header">Weight</th><td>8%</td>
                  <th class="mobile-header">Value</th><td>€34,285.31</td>
                </tr>
                <tr class='total'>
                  <th>Total</th>
                  <td class="total-val" colspan="4">€1,134,860.04</td>
                </tr>
              </tbody>
            </table>
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <table>
            <thead>
            <tr class="table-headers">
              <th>Name of Medicine</th>
              <th>Locality of Doctor</th>
              <th>Doctor name</th>
              <th>Hospital Name</th>
              <th>TimeStamp</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>Remedisivir</td>
                <td>Akola</td>
                <td>Yash</td>
                <td>Kokilaben</td>
                <td>12-04-2021 9:30pm</td>
              </tr>
              <tr>
                <td>Medicine 2</td>
                <td>Kalyan</td>
                <td>Sanyam</td>
                <td>Gandhi Hospital</td>
                <td>25-01-2020 9:00pm</td>
              </tr>
              <tr>
                <td>Medicine 3</td>
                <td>Goregaon</td>
                <td>Krunal</td>
                <td>Kasturba Hospital</td>
                <td>19-04-2021 5:30pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </section>
  
<script>
$(document).ready(function(){
	
	// Variables
	var clickedTab = $(".tabs > .active");
	var tabWrapper = $(".tab__content");
	var activeTab = tabWrapper.find(".active");
	var activeTabHeight = activeTab.outerHeight();
	
	// Show tab on page load
	activeTab.show();
	
	// Set height of wrapper on page load
	tabWrapper.height(activeTabHeight);
	
	$(".tabs > li").on("click", function() {
		
		// Remove class from active tab
		$(".tabs > li").removeClass("active");
		
		// Add class active to clicked tab
		$(this).addClass("active");
		
		// Update clickedTab variable
		clickedTab = $(".tabs .active");
		
		// fade out active tab
		activeTab.fadeOut(250, function() {
			
			// Remove active class all tabs
			$(".tab__content > li").removeClass("active");
			
			// Get index of clicked tab
			var clickedTabIndex = clickedTab.index();

			// Add class active to corresponding tab
			$(".tab__content > li").eq(clickedTabIndex).addClass("active");
			
			// update new active tab
			activeTab = $(".tab__content > .active");
			
			// Update variable
			activeTabHeight = activeTab.outerHeight();
			
			// Animate height of wrapper to new tab height
			tabWrapper.stop().delay(50).animate({
				height: activeTabHeight
			}, 500, function() {
				
				// Fade in active tab
				activeTab.delay(50).fadeIn(250);
				
			});
		});
	});
	
	// Variables
	var colorButton = $(".colors li");
	
	colorButton.on("click", function(){
		
		// Remove class from currently active button
		$(".colors > li").removeClass("active-color");
		
		// Add class active to clicked button
		$(this).addClass("active-color");
		
		// Get background color of clicked
		var newColor = $(this).attr("data-color");
		
		// Change background of everything with class .bg-color
		$(".bg-color").css("background-color", newColor);
		
		// Change color of everything with class .text-color
		$(".text-color").css("color", newColor);
	});
});
$(window).on('resize', function() {
    
    if ($(this).width() < 760) {
       $('tr td:first-child').click(function(){

          $(this).siblings().css({'display': 'inline-block'});

          var $this = $(this);
          setTimeout(function(){
          $this.siblings().css('transform', 'translateY(0)'); 
         },0);

          $('tr td:first-child').not($(this)).siblings().css({'display': 'none', 'transform': 'translateY(-9999px)'});
      });  
    } else if ($(this).width() > 760) {
        //unbind click : name is not clickable when screen is > 700px
        $( "tr td:first-child").unbind( "click" );
        //remove with jquery added styles
        $('tr td:first-child').siblings().css({'display': '', 'transform': ''});
    }

}).resize();
</script>
{% endblock %}


