{% extends 'base.html' %}
{% block content %}
<style>
    /*body{
        background: url("../static/GettyImages-938938858-7b656e6317ab4e2797556bdddce9595d.jpg");
        background-size: cover;
    }
    form{
        background-color: cadetblue;
    }*/
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  cursive;
    font-size: font-size;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  height: 70vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

#inner-div{
    margin:5% 15%;
}

.item1, .item2, .item3, .item4{
    background-color: rgb(58, 163, 211) !important;
    
    font-weight: 800;
    opacity:0.8;
    border-radius:10px;
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover{
    background-color: rgb(19, 127, 177) !important;
    cursor: pointer;
}
.grid-container a{
    position: relative;
    color: whitesmoke;
    top:100px;
}

.grid-container a:hover{
    text-decoration: none;
}

@keyframes NO {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

</style>
<nav class="navbar">
    <div class="container">
  
      <div class="navbar-header">
        <button class="navbar-toggler" data-toggle="open-navbar1">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a href="#">
          <h4>Awesome<span>logo</span></h4>
        </a>
      </div>
  
      <div class="navbar-menu" id="open-navbar1">
        <ul class="navbar-nav">
          <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="#">Profile</a></li>
          <li class="navbar-dropdown">
            <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
              Customer <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown" id="my-dropdown-id">
              <li><a href="{% url 'loginCustomer' %}">Login a customer</a></li>
              <li><a href="{% url 'registerCustomer' %}">Register a customer</a></li>
              <li><a href="{% url 'customer' %}">View</a></li>
            </ul>
          </li>
          <li><a href="{% url 'billing' %}">Billing</a></li>
          <li><a href="{% url 'logout' %}">LogOut</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="inner-div">
  <div class="grid-container">
    <div class="item1"><a href="{% url 'loginCustomer' %}">Login a Customer</a></div>
    <div class="item2"><a href="{% url 'registerCustomer' %}">Register a Customer</a></div>
    <div class="item3"><a href="{% url 'customer' %}">View a Customer</a></div>  
    <div class="item4"><a href="{% url 'billing' %}">Billing</a></div>
  </div>
  </div>
  

{% endblock %}