{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background: url("../static/GettyImages-938938858-7b656e6317ab4e2797556bdddce9595d.jpg");
        background-size: cover;
    }
</style>
<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Example label</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Another label</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
</form>
{% endblock %}